@use "../base/mixins" as mixins;
@use "../base/variables" as var;

.cases {

  &__inner {
    position: relative;
    padding: var(--y-padding) 0 var(--y-padding) var(--x-padding);

    &::before {
      @include mixins.slider-fade-out();
      left: 20px;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);

      @media screen and (min-width: var.$tablet-breakpoint) {
        left: 0;
      }
    }

    &::after {
      @include mixins.slider-fade-out();
      right: 0;
      background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
    }

    @media screen and (min-width: var.$tablet-breakpoint) {
      @include mixins.content-width;
    }
  }

  &__title {
    padding: 0 var(--x-padding);
    font-size: var(--title-font-size);
    font-weight: 500;
    line-height: 30px;
  }

  &__list {
    display: flex;
    gap: 20px;
    align-items: stretch;
    padding: 32px var(--x-padding) var(--y-padding);
    list-style: none;

    @include mixins.slider();

    @media screen and (min-width: var.$tablet-breakpoint) {
      padding: 40px 20px var(--y-padding) 0;
      cursor: pointer;
    }
  }

  &__card {
    min-width: 268px;
    height: 100%;
    padding: 24px 20px;
    border-radius: 20px;
    background-color: var(--primary-color-white);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);

    @media screen and (min-width: var.$tablet-breakpoint) {
      min-width: 292px;
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      min-width: 360px;
    }

    &-icon {
      margin-bottom: 16px;
    }

    &-title {
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }

    &-list {
      font-size: 16px;
      line-height: 22px;
      list-style: none;
    }

    &-item {

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
