@use "../base/mixins" as mixins;
@use "../base/variables" as var;

.hero {
  padding: var(--y-padding) var(--x-padding);
  background: linear-gradient(180deg, rgba(234,233,255,1) 0%, rgba(255,255,255,1) 50%);

  @media screen and (min-width: var.$tablet-breakpoint) {
    padding: var(--y-padding) var(--x-padding) 40px var(--x-padding);
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: var.$tablet-breakpoint) {
      @include mixins.content-width;
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-direction: row;
    }
  }
  
  &__info {
    margin-bottom: 20px;
    
    @media screen and (min-width: var.$desktop-breakpoint) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;

    @media screen and (min-width: var.$tablet-breakpoint) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    @media screen and (min-width: var.$tablet-breakpoint) {
      flex-direction: row;
    }
  }

  &__link {
    padding: 10px 0;
    background-color: var(--blueberry-color-dark);
    text-align: center;
    border-radius: 10px;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--primary-color-white);
      text-decoration: none;
    }

    @media screen and (min-width: var.$tablet-breakpoint) {
      padding: 11px 24px;
      font-size: 16px;
    }

    &_sign-in {
      margin-top: 20px;
      font-weight: 400;
      background-color: transparent;
      border: 1px solid var(--blueberry-color-light);

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: var(--blueberry-color-light);
      }

      @media screen and (min-width: var.$tablet-breakpoint) {
        margin: 0 0 0 20px;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 455px;
    height: auto;
    margin: 0 auto;

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-shrink: 0;
      margin: 0 0 0 20px;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }
}
