@use "../base/mixins" as mixins;
@use "../base/variables" as var;

.numbers {

  &__inner {
    padding: var(--y-padding) var(--x-padding);

    @media screen and (min-width: var.$tablet-breakpoint) {
      @include mixins.content-width;
    }
  }

  &__title {
    @include mixins.section-title();
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;

    @media screen and (min-width: var.$tablet-breakpoint) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-wrap: nowrap;
      column-gap: 32px;
    }
  }

  &__item {

    @media screen and (min-width: var.$tablet-breakpoint) {
      width: calc(50% - 24px);
      max-width: 348px;
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      width: auto;
      flex: 1;
    }
  }

  &__stat {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    white-space: nowrap;
  }
}
