@use "../base/mixins" as mixins;

.perks {

  &__inner {
    padding: var(--y-padding) 0 var(--y-padding) var(--x-padding);
    margin: 0 auto;

    @media screen and (min-width: 728px) {
      width: var(--content-width);
      max-width: var(--content-max-width);
    }
  }

  &__title {
    @include mixins.section-title();
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 268px);
    column-gap: 20px;
    padding-right: var(--x-padding);
    list-style: none;

    @include mixins.slider();


    @media screen and (min-width: 728px) {
      grid-template-columns: repeat(2, minmax(268px, 354px));
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      padding: 0;

      @include mixins.reset-slider();
    }

    @media screen and (min-width: 1120px) {
      grid-template-columns: repeat(4, 265px);
      grid-template-rows: 1fr;
      cursor: pointer;

      @include mixins.slider();
    }
  }

  &__item {
    scroll-snap-align: center;
  }

  &__card {
    padding: 24px 20px 44px;
    height: 100%;
    background-color: var(--primary-color-gray);
    border-radius: 20px;

    @media screen and (min-width: 728px) {
      padding: 24px 20px;
    }

    &-title {
      margin: 16px 0;
      font-size: var(--card-title-font-size);
      font-weight: 500;
      line-height: 24px;
    }

    &-text {
      font-size: var(--card-font-size);
      line-height: 20px;

      @media screen and (min-width: 728px) {
        line-height: 22px;
      }
    }

    &-link {

      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
        color: var(--link-color-blue);
      }
    }
  }
}
