@use "../base/mixins" as mixins;
@use "../base/variables" as var;

.perks {

  &__inner {
    position: relative;
    padding: var(--y-padding) 0 var(--y-padding) var(--x-padding);

    @media screen and (min-width: var.$tablet-breakpoint) {
      @include mixins.content-width;
    }

    &::before {
      @include mixins.slider-fade-out();
      left: 20px;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);

      @media screen and (min-width: var.$desktop-breakpoint) {
        left: 0;
      }
    }

    &::after {
      @include mixins.slider-fade-out();
      right: 0;
      background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
    }

    &::before,
    &::after {
      @media screen and (min-width: var.$tablet-breakpoint) {
        display: none;
      }

      @media screen and (min-width: var.$desktop-breakpoint) {
        display: block;
      }
    }
  }

  &__title {
    @include mixins.section-title();
  }

  &__list {
    display: flex;
    gap: 20px;
    padding-right: var(--x-padding);
    list-style: none;

    @include mixins.slider();


    @media screen and (min-width: var.$tablet-breakpoint) {
      flex-wrap: wrap;
      padding: 0;

      @include mixins.reset-slider();
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-wrap: nowrap;
      cursor: pointer;

      @include mixins.slider();
    }
  }

  &__item {
    scroll-snap-align: center;
    max-width: 268px;
    flex-shrink: 0;

    @media screen and (min-width: var.$tablet-breakpoint) {
      max-width: 354px;
      width: calc(50% - 20px);
    }

    @media screen and (min-width: var.$desktop-breakpoint) {
      width: 265px;
    }
  }

  &__card {
    padding: 24px 20px 44px;
    height: 100%;
    background-color: var(--primary-color-gray);
    border-radius: 20px;

    @media screen and (min-width: var.$tablet-breakpoint) {
      padding: 24px 20px;
    }

    &-title {
      margin: 16px 0;
      font-size: var(--card-title-font-size);
      font-weight: 500;
      line-height: var(--line-height);
    }

    &-text {
      font-size: 14px;
      line-height: 20px;

      @media screen and (min-width: var.$tablet-breakpoint) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-link {

      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
        color: var(--link-color-blue);
      }
    }
  }
}
