@use "../base/mixins" as mixins;
@use "../base/variables" as var;

.steps {

  &__inner {
    padding: var(--y-padding) var(--x-padding);

    @media screen and (min-width: var.$tablet-breakpoint) {
      @include mixins.content-width;
    }
  }

  &__title {
    @include mixins.section-title();
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-direction: row;
    }
  }

  &__item {

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex: 1;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 728px;

    @media screen and (min-width: var.$desktop-breakpoint) {
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--blueberry-color-dark);

    &-number {
      font-size: 32px;
      line-height: 30px;
      font-weight: 700;
      color: var(--primary-color-white);
    }
  }

  &__text {

    @media screen and (min-width: var.$desktop-breakpoint) {
      text-align: center;
    }
  }

  &__link {

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: var(--link-color-blue);
    }
  }
}
