@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: local("Gotham"), url("../assets/fonts/Gotham-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: local("Gotham"), url("../assets/fonts/Gotham-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: local("Gotham"), url("../assets/fonts/Gotham-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 300;
  src: local("Gotham"), url("../assets/fonts/Gotham-Light.ttf") format("truetype");
}

:root {
  --primary-color-white: #fff;
  --primary-color-dark: #0d0d0d;
  --primary-color-gray: #f8f8f8;
  --primary-color-accent: #f4f0ff;

  --blueberry-color-dark: #4d35af;
  --blueberry-color-light: #6a50d2;

  --logo-color-red: #e40646;
  --logo-color-violet: #5b57a2;
  --logo-color-orange: #ef8019;
  --logo-color-blue: #0698d6;

  --card-color-red: #ffe0e9;
  --card-color-violet: #efeeff;
  --card-color-orange: #ffecdb;
  --card-color-blue: #ddf5ff;

  --link-color-blue: #4589e8;

  --input-color-gray: #8c8c8c;

  --card-font-size: 14px;
  --card-title-font-size: 18px;

  --x-padding: 20px;
  --y-padding: 48px;

  --title-margin: 32px;

  --content-width: 71%;
  --content-max-width: 1120px;

  @media screen and (min-width: 728px) {
    --card-font-size: 16px;
    --card-title-font-size: 20px;

    --x-padding: 0;
    --y-padding: 64px;
  }
}

@mixin section-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  @media screen and (min-width: 728px) {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin link-item {
  background-color: transparent;
  color: var(--blueberry-color-light);
  border: 1px solid var(--blueberry-color-light);
}

@mixin slider {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Для iOS */

  /* Скрываем скроллбар */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@mixin reset-slider {
  overflow: visible; /* Отключаем горизонтальный скролл */
  scroll-snap-type: none; /* Отключаем привязку к карточкам */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 16px;

  @media screen and (min-width: 728px) {
    font-size: 18px;
  }
}

.hero {
  padding: var(--y-padding) var(--x-padding);
  background: linear-gradient(180deg, rgba(234,233,255,1) 0%, rgba(255,255,255,1) 50%);

  @media screen and (min-width: 728px) {
    padding: var(--y-padding) 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (min-width: 728px) {
      width: var(--content-width);
      max-width: var(--content-max-width);
    }

    @media screen and (min-width: 1120px) {
      flex-direction: row;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;

    @media screen and (min-width: 728px) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__paragraph {
    line-height: 22px;

    @media screen and (min-width: 728px) {
      line-height: 24px;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    @media screen and (min-width: 728px) {
      flex-direction: row;
    }
  }

  &__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      font-weight: 500;
      color: var(--primary-color-white);
      text-decoration: none;
    }

    padding: 10px 0;
    background-color: var(--blueberry-color-dark);
    text-align: center;
    border-radius: 10px;
    line-height: 24px;
    white-space: nowrap;

    @media screen and (min-width: 728px) {
      padding: 11px 24px;
      font-size: 16px;
    }

    &_sign-in {
      margin-top: 20px;

      &:link,
      &:visited,
      &:hover,
      &:active {
        font-weight: 400;
        @include link-item();
      }

      @media screen and (min-width: 728px) {
        margin: 0 0 0 20px;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 455px;
    height: auto;
    margin: 0 auto;

    @media screen and (min-width: 1120px) {
      flex-shrink: 0;
      margin: 0 0 0 20px;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }
}

.perks {

  &__inner {
    padding: var(--y-padding) 0 var(--y-padding) var(--x-padding);
    margin: 0 auto;

    @media screen and (min-width: 728px) {
      width: var(--content-width);
      max-width: var(--content-max-width);
    }
  }

  &__title {
    @include section-title();
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 268px);
    column-gap: 20px;
    padding-right: var(--x-padding);
    list-style: none;

    @include slider();


    @media screen and (min-width: 728px) {
      grid-template-columns: repeat(2, minmax(268px, 354px));
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      padding: 0;

      @include reset-slider();
    }

    @media screen and (min-width: 1120px) {
      grid-template-columns: repeat(4, 265px);
      grid-template-rows: 1fr;
      cursor: pointer;

      @include slider();
    }
  }

  &__item {
    scroll-snap-align: center;
  }

  &__card {
    padding: 24px 20px 44px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-gray);
    border-radius: 20px;

    @media screen and (min-width: 728px) {
      padding: 24px 20px;
    }

    &-title {
      margin: 16px 0;
      font-size: var(--card-title-font-size);
      font-weight: 500;
      line-height: 24px;
    }

    &-text {
      font-size: var(--card-font-size);
      line-height: 20px;

      @media screen and (min-width: 728px) {
        line-height: 22px;
      }
    }

    &-link {

      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
        color: var(--link-color-blue);
      }
    }
  }
}

.numbers {

  &__inner {
    padding: var(--y-padding) var(--x-padding);

    @media screen and (min-width: 728px) {
      margin: 0 auto;
      width: var(--content-width);
      max-width: var(--content-max-width);
    }
  }

  &__title {
    @include section-title();
  }

  &__list {
    list-style: none;

    @media screen and (min-width: 728px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(256px, 354px));
      grid-auto-rows: auto;
      column-gap: 32px;
      row-gap: 24px;
    }

    @media screen and (min-width: 1120px) {
      grid-template-columns: repeat(auto-fit, 256px);
      row-gap: 32px;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 32px;

      @media screen and (min-width: 728px) {
        margin: 0;
      }
    }
  }

  &__stat {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  &__description {
    line-height: 22px;

    @media screen and (min-width: 728px) {
      line-height: 24px;
    }
  }
}

.banner {
   &__inner {
     padding: var(--y-padding) var(--x-padding);

     @media screen and (min-width: 728px) {
       margin: 0 auto;
       width: var(--content-width);
       max-width: var(--content-max-width);
     }
   }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-accent);
    border-radius: 20px;

    @media screen and (min-width: 1120px) {
      flex-direction: row;
    }
  }

  &__info {
    padding: 20px;

    @media screen and (min-width: 728px) {
      padding: 32px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    @media screen and (min-width: 728px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    margin-left: 17px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    line-height: 22px;
  }

  &__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--blueberry-color-light);
      text-decoration: none;
    }

    display: block;
    width: 100%;
    padding: 11px 0;
    text-align: center;
    border: 1px solid var(--blueberry-color-light);
    border-radius: 10px;
    line-height: 22px;

    @media screen and (min-width: 728px) {
      display: inline-block;
      width: auto;
      padding: 11px 24px;
    }
  }

  &__image-wrapper {
    width: 100%;
    min-width: 200px;
    max-width: 322px;
    object-fit: contain;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
  }
}

.goals {

  &__inner {
    padding: var(--y-padding) var(--x-padding);
  }

  &__title {
    @include section-title();
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    list-style: none;
  }

  &__card {
    padding: 24px 20px;
    background-color: var(--primary-color-gray);
    border-radius: 20px;

    &-icon-wrapper {
      width: 48px;
      height: 48px;
      margin-bottom: 16px;
    }

    &-title {
      margin-bottom: 12px;
      font-size: var(--card-title-font-size);
      font-weight: 500;
      line-height: 24px;
    }

    &-text {
      font-size: var(--card-font-size);

      &:last-child {
        margin-top: 12px;
      }
    }
  }
}
