@use "variables" as var;

:root {
  --primary-color-white: #fff;
  --primary-color-dark: #0d0d0d;
  --primary-color-gray: #f8f8f8;
  --primary-color-accent: #f4f0ff;

  --blueberry-color-dark: #4d35af;
  --blueberry-color-light: #6a50d2;

  --icon-color-red: #e40646;
  --icon-color-violet: #5b57a2;
  --icon-color-orange: #ef8019;
  --icon-color-blue: #0698d6;

  --card-color-red: #ffe0e9;
  --card-color-violet: #efeeff;
  --card-color-orange: #ffecdb;
  --card-color-blue: #ddf5ff;

  --link-color-blue: #4589e8;

  --input-color-gray: #8c8c8c;

  --card-title-font-size: 18px;

  --x-padding: 20px;
  --y-padding: 48px;

  --title-font-size: 24px;
  --title-margin: 32px;

  --content-width: 71%;
  --content-max-width: 1120px;

  --line-height: 24px;

  @media screen and (min-width: var.$tablet-breakpoint) {
    --card-title-font-size: 20px;

    --x-padding: 0;
    --y-padding: 64px;

    --title-font-size: 32px;

    --line-height: 26px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media screen and (min-width: var.$tablet-breakpoint) {
    font-size: 18px;
    line-height: 24px;
  }
}
